* {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
	padding: 0 10px 0 10px;
}

#canvas1 {
	width: 600px;
	height: 350px;
	border: 1px solid black;
	margin: 0px;
	background-image: url(../img/map3.png);
}

#canvas0 {
	width: 850px;
	height: 240px;
	border: 1px solid black;
	margin: 0px;
	background-image: url(../img/log1.png);
}

input[type=number] {
	font-size: 1em;
	padding: 10px;
	margin-bottom: 20px;
}

input[type=button] {
	font-size: 1em;
	padding: 10px;
}